.folder-page {
  background-color: #08062b;
  color: white;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.flashcard__list{
    padding: 1rem;
}

.folder-page__loading,
.folder-page__error {
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
}
